:root {
  --textColor: #ffffff;
  --bgColor: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

body {
  color: var(--textColor);
  background: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 40px;
  justify-content: center;
}

.header ul li.active {
  text-decoration: underline;
  color: #80dbff;
}

.header ul li a {
  padding: 30px 0;
}

.home-page,
.lobby-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#hero-gallery,
#lobbyView {
  margin-bottom: 100px;
}

.gallery-images .gallery-image {
  width: 200px;
}

#allSectionsWrapper {
  flex-grow: 1;
}
