:root {
  --gap-8: 0.417vw;
  --gap-12: 0.625vw;
  --gap-16: 0.833vw;
  --gap-18: 0.938vw;
  --gap-20: 1.042vw;
  --gap-24: 1.25vw;
  --gap-28: 1.458vw;
  --gap-32: 1.667vw;
  --gap-40: 2.083vw;
  --gap-48: 2.5vw;
  --gap-56: 2.917vw;
  --gap-72: 3.75vw;
  --gap-80: 4.17vw;
  --gap-96: 5vw;
  --gap-100: 5.208vw;
  --gap-140: 7.292vw;
  --gap-180: 9.375vw;
  --gap-260: 13.542vw;
  --black: #171717;
  --red: #ff3227;
  --blue: #30a7fa;
  --text: #323232;
  --lgray: #f5f5f5;
  --white: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

body {
  color: var(--white);
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  :root {
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-14: 14px;
    --gap-16: 16px;
    --gap-18: 18px;
    --gap-20: 20px;
    --gap-24: 24px;
    --gap-28: 28px;
    --gap-32: 32px;
    --gap-34: 34px;
    --gap-40: 40px;
    --gap-44: 44px;
    --gap-48: 48px;
    --gap-56: 56px;
    --gap-72: 72px;
    --gap-80: 80px;
    --gap-96: 96px;
    --gap-100: 100px;
    --gap-120: 120px;
    --gap-140: 140px;
    --gap-200: 200px;
  }
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

header {
  box-shadow: 0px 0px 7px 0px #000000;
  padding: var(--gap-20) var(--gap-40);
  position: sticky;
  top: 0;
  background: var(--black);
}

header nav {
  display: grid;
  gap: var(--gap-20);
}

header .header-logo img {
  width: clamp(180px, 15vw, 280px);
}

.header .header-menu {
  display: flex;
  list-style: none;
  gap: var(--gap-40);
  justify-content: center;
}

.header .header-menu li.active {
  color: var(--blue);
}

.home-page,
.lobby-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#hero-gallery {
  height: calc(var(--app-height) - var(--headerHeight));
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-72);
}

#hero-gallery h1 {
  font-size: var(--gap-32);
}

#hero-gallery .text-container h2 {
  font-size: var(--gap-96);
  font-weight: 400;
  font-style: italic;
}

#hero-gallery .text-container h2 strong {
  font-style: normal;
}

@media (max-width: 1024px) {
  #hero-gallery {
    gap: var(--gap-40);
  }

  #hero-gallery h1 {
    font-size: var(--gap-18);
  }

  #hero-gallery .text-container h2 {
    font-size: var(--gap-56);
  }
}

#lobbyView {
  margin-block: var(--gap-40);
}

#allSectionsWrapper {
  flex-grow: 1;
}

.grid-boxes-section .grid-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-20);
}

@media (max-width: 1024px) {
  .grid-boxes-section .grid-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-boxes-section .grid-boxes .grid-box {
  border: 1px solid #fff;
  padding: var(--gap-20);
}

.blue-bg-sec .grid-boxes .grid-box {
  background: #4c74a9;
}

section {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
  padding: 0 var(--gap-180) var(--gap-40);
}

.red-bg-sec .grid-rows {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-20);
}

@media (max-width: 1024px) {
  .red-bg-sec .grid-rows {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-boxes-section .grid-boxes .grid-box .grid-box-image img {
  width: var(--gap-56);
}

.grid-rows-section .grid-rows .grid-row {
  border: 1px solid #fff;
  display: flex;
  gap: var(--gap-20);
}

.red-bg-sec .grid-rows .grid-row {
  background: #934c4c;
}

.grid-rows-section .grid-rows .grid-row .grid-row-inner {
  width: 50%;
  padding: var(--gap-20) var(--gap-20) var(--gap-20) 0;
}

.grid-rows-section .grid-rows .grid-row .grid-row-image {
  width: 50%;
  background-color: #ffffff;
}

.grid-rows-section .grid-rows .grid-row .grid-row-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
